<div class="card shadow-sm card-product col mx-3" style="border-radius:20px;">
    <!--Product Image-->
    <img class="card-img mb-3" src="/assets/ProductImg/{{ProID}}/1.jpg" alt="" height="150px" />

    <!--Product name-->
    <div class="mx-auto mt-2">
        <a href="/product/id={{ProID}}" class="text-limit"
            style="font-weight: 800;text-decoration: none; color:black; font-size:1.5em;">{{ProName}}</a>
    </div>

    <!--Product Price-->
    <div class="my-3 text-center">
        <h4 style="font-weight:100;">{{CurrentPrice}}</h4>
    </div>

    <div class="row justify-content-center text-center">
        <h6 class="row" style="font-weight:100">Người bán</h6>
    </div>


    <div class="row">
        <img class="mx-auto my-3" src="/images/man.png" style="border-radius: 50%;" width="60em" height="60em" alt="">
    </div>

    <div class="row text-center justify-content-center">
        <h6 class="row " style="font-weight:100">{{FullName}}</h6>
    </div>


    <div class="row mb-2">
        <button class="btn mx-auto my-3 px-3 like-button" data-toggle="modal" data-target="#reviewModal">
            Nhận xét
        </button>
        <div class="modal fade" id="reviewModal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="border-radius: 20px;">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="container col-10">
                            <div class="row text-center justify-content-center my-4">
                                <h4>Nhận xét</h4>
                            </div>
                            <div class="row justify-content-center mx-auto col-12">

                                <!--Rate Seller Form-->
                                <form action="/product/rateseller&proid={{ProID}}&sellerid={{SellerID}}" method="POST"
                                    class="col">
                                    <select name="BuyerReaction" class="mb-4"
                                        style="padding-top: 7px; padding-bottom:7px; padding-left:10px; padding-right:10px; outline:none; border-radius:20px; font-size:3em;"
                                        id="">
                                        <option style="font-size: 1em;" value="Thích">Thích</option>
                                        <option style="font-size: 1em;" value="Không thích">Không thích</option>
                                    </select>

                                    <textarea name="Comment" id="BuyerComment" type="text"
                                        class="w-100 form-control py-3 px-3 col" placeholder="Nhập nhận xét của bạn"
                                        rows="3"
                                        style="word-wrap: break-word; overflow-wrap: normal; background:#F8F8F8; border-radius:20px; border: none; text-align: justify; vertical-align: middle;"></textarea>

                                    <input type="submit" class=" form-control col-4 btn mt-5 mb-3 px-3 py-2"
                                        id="reviewSellerSubmit" style="border-radius: 20px; background: #E6FFC7;"
                                        value="Gửi">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>