<div class="card shadow col-2 mx-3 card-product" style="border-radius:20px; background:white;">
    <!--Product Image-->
    <img class="card-img mb-3" src="/assets/ProductImg/{{ProID}}/1.jpg" alt="" height="150px" />

    <!--Product name-->
    <div class="mx-auto mt-2">
        <a class="text-limit" style="text-decoration: none; color:black; font-size:15px;"
            href="/product/id={{ProID}}">{{ProName}}</a>
    </div>

    <!--Product Buyout Price-->
    <div class="mb-3">
        <h5 style="color:#BF3939; font-weight:800;">{{BuyoutPrice}}đ</h5>
    </div>

    <!--Product bidding info-->

    <!--Bid count-->
    <div class="row mx-3 mb-3" id="bid-count-row">
        <div class="col-3" style="text-align: center;">
            <h6 style="font-weight:800;">{{BidCount}}</h6>
            <h6>lượt</h6>
        </div>

        <!--Highest bid and bidder-->
        <div class="col-7" style="text-align: center;">
            <h6 style="font-weight:800;">{{CurrentPrice}}</h6>
            <h6>bởi <span style="font-weight:800;">{{FullName}}</span></h6>
        </div>

        <!--Save button-->
        {{#if @root.isBidder}}
            <form action="/product/save&id={{ProID}}" style="display: inline-block;" method="POST">
                <input type="submit" class="btn" style="background: none; outline:none;" value="Lưu">
            </form>
        {{/if}}

        {{#if @root.isSeller}}
            <form action="/product/save&id={{ProID}}" style="display: inline-block;" method="POST">
                <input type="submit" class="btn" style="background: none; outline:none;" value="Lưu">
            </form>
        {{/if}}


    </div>

    <hr />
    <!--Product Timing-->
    <!--Post date-->
    <div class="row">
        <div class="col text-center">
            <h6 class="mb-3" style="font-weight: 100;">Đăng ngày</h6>
            <div class="mb-3 mx-auto">
                <img src="/images/calendar.png" style="height: 3vh;" alt="" />
            </div>
            <h6 class="mb-3" style="font-weight: 100;">{{StartingDate}}</h6>
        </div>

        <!--Remaining time-->
        <div class="col text-center">
            <h6 class=" mb-3" style="font-weight: 100;">Còn lại</h6>
            <div class=" mb-3 mx-auto">
                <img src="/images/time.png" style="height:3vh;" alt="" />
            </div>
            <h6 class=" mb-3" style="font-weight: 100;">{{EndingDate}}</h6>
        </div>
    </div>
</div>