<div class="card col-5 mx-4 px-5 my-3 justify-content-center shadow-sm"
    style="border-radius:20px; border:none; background: #F8F8F8;">
    <div class="row my-4">
        <!--Avt and username and button-->
        <div class="col-4">
            <img src="/images/man.png" width="70em" height="70em" style="border-radius: 50%;" alt="">
            <h6 class="mt-3">{{BidderID}}</h6>
            <h6 class="like-button">{{RateSeller}}</h6>

        </div>
        <!--Comment-->
        <div class="col-8 align-middle my-auto" style="text-align:center; line-height: 200%;">
            <h6>{{Comment}}
            </h6>
        </div>
    </div>
</div>