<!--Navbar section-->

<nav class="navbar py-2">


    <!--Home button-->
    <a class="btn ml-3" href="/home">
        <img src="/images/HOME.png" alt="" style="border-radius: 0px;" />
    </a>

    <!--Category button-->
    <div class="nav-item dropdown">
        <button class="btn mx-5 " data-toggle="dropdown">
            <img src="/images/list-menu.png" style="border-radius: 0px;" height="20px" width="20px" alt="" />
        </button>
        <div class="dropdown-menu ml-5 mt-2">
            {{#each category}}
                <a href="#" id="{{CatName}}" class="btn mx-3"
                    style="text-decoration:none; font-weight: 800;">{{CatName}}</a>
                <hr>
                <ul style="list-style-type:none;">
                    {{#each types}}
                        <li><a class="dropdown-item my-1 py-3 mx-3" href="/product/ptypeid={{TypeID}}/page=1"
                                style="text-decoration: none;">{{TypeName}}</a></li>

                    {{/each}}
                </ul>
            {{/each}}

        </div>
    </div>


    <!--Search section-->
    <form class="form-inline" action="/search" method="POST">
        <div class="input-group">
            <div class="input-group-prepend">
                <select name="searchOption" id="searchOption">
                    <option value="Theo tên">Theo tên</option>
                    <option value="Theo loại">Theo loại</option>
                </select>
            </div>

            <select name="sortOption" style="border-right:none;" id="sortOption">
                <option value="type1">Giá giảm dần</option>
                <option value="type2">Giá tăng dần</option>
                <option value="type3">Thời gian còn lại tăng dần</option>
                <option value="type4">Thời gian còn lại giảm dần</option>
            </select>

            <input class="form-control" name="searchContent" type="search" />

            <div class="input-group-append">
                <input class="btn btn-outline-secondary" type="submit" value="&#128269">
            </div>
        </div>
    </form>

    <!--Title-->
    <a class="navbar-brand mx-auto" href="/home" id="title" style="font-family: 'Pattaya', sans-serif; color:#B83B23;">
        <h1>Online Auction</h1>
    </a>

    <!--Account section-->

    <!--Guest-->
    {{#if isGuest}}
        <a class="btn mx-5 " style="text-decoration: none;" href="/login">Đăng nhập</a>
        <a class="btn  mr-3" style="text-decoration: none;" href="/signup">Đăng ký</a>
    {{/if}}

    <!--User-->
    {{#if isBidder}}
        <a class="btn mx-5 " style="text-decoration: none;" href="/account">
            <img src="/images/man.png" alt="">
        </a>
        <form action="/logout" method="POST">
            <input type="submit" class="btn" value="Đăng xuất" style="background:none; outline:none;">
        </form>

    {{/if}}

    {{#if isSeller}}
        <a class="btn  mr-3" style="text-decoration: none;" href="/product/add">Đăng bài</a>
        <a class="btn mx-5 " style="text-decoration: none;" href="/account">
            <img src="/images/man.png" alt="">
        </a>
        <form action="/logout" method="POST">
            <input type="submit" class="btn" value="Đăng xuất" style="background:none; outline:none;">
        </form>
    {{/if}}

    <!--Admin-->
    {{#if isAdmin}}
        <a class="btn mx-5 " style="text-decoration: none;" href="/account/admin">
            <img src="/images/man.png" alt="">
        </a>
        <form action="/logout" method="POST">
            <input type="submit" class="btn" value="Đăng xuất" style="background:none; outline:none;">
        </form>
    {{/if}}

</nav>
<hr>
<!--End navbar section-->