<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Font section -->

    <link href="https://fonts.googleapis.com/css?family=Pattaya|Quicksand|Roboto&display=swap" rel="stylesheet" />

    <!-- End Font section -->

    <!-- Library section -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script src="https://cdn.tiny.cloud/1/ioyi2e9ea1oyxtw1317fcd61cgmsiyh0fvqre142arixrabx/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>

    <script type="text/javascript" src="/bootstrap-filestyle-2.1.0/src/bootstrap-filestyle.min.js"> </script>

    <link rel="stylesheet" href="/style.css">

    <!-- End Library section -->

    <title>{{Title}}</title>

</head>

<body>

    <!--Navbar section-->

    {{> navbar}}

    <!--End navbar section-->

    {{{body}}}

</body>
<script>
    tinymce.init({
        selector: 'textarea#tiny',
        height: "400"
    });


</script>


</html>