<div class=" container col-md-10 justify-content-center text-center mt-5"
    style=" border-radius: 20px; background: white; height:70vh; ">

    <!--Avatar big size-->
    <img class="avatar mt-5" src="/images/avatar.png" width="250em" height="250em" alt="">

    <!--Username-->
    <h2 style="font-weight:800;" class="mt-5 mb-5">Xin chào, {{user.FullName}}!</h2>
    <!--Tab links-->
    <ul class="nav nav-pills justify-content-center manage-menu">
        <li class="nav-item px-1 active my-4">
            <a class="mx-4 manage-tab-links active" data-toggle="pill" style="font-size: 1em;" href="#changeInfo">Thông
                tin cá nhân</a>
        </li>
        <li class="nav-item px-1 my-4">
            <a class="mx-4 manage-tab-links" data-toggle="pill" href="#myRatings" style="font-size: 1em;">Đánh
                giá của tôi</a>
        </li>
        <li class="nav-item px-1 my-4">
            <a class="mx-4 manage-tab-links" data-toggle="pill" href="#mySavedProducts" style="font-size: 1em;">Sản
                phẩm yêu thích</a>
        </li>
        <li class="nav-item px-1 my-4">
            <a class="mx-4 manage-tab-links" data-toggle="pill" href="#myActiveBiddings" style="font-size: 1em;">Đang
                đấu giá</a>
        </li>
        <li class="nav-item px-1 my-4">
            <a class="mx-4 manage-tab-links" data-toggle="pill" href="#wonProducts" style="font-size: 1em;"> Đấu
                giá đã thắng</a>
        </li>
        {{#if isSeller}}
            <!--Conditional-->
            <li class="nav-item px-1 my-4">
                <a class="mx-4 manage-tab-links" data-toggle="pill" href="#myProducts" style="font-size: 1em;">Đấu
                    giá của tôi</a>
            </li>
            <!--Conditional-->
            <li class="nav-item px-1 my-4">
                <a class="mx-4 manage-tab-links" data-toggle="pill" href="#endedProducts" style="font-size: 1em;">Đấu
                    giá đã kết thúc</a>
            </li>
        {{/if}}
    </ul>
    <div class="row ">

        <!--Tab pages section-->
        <div class="col mt-5">
            <div class="container-fluid">
                <div class="tab-content text-center justify-content-center ">

                    <!--Change info tab section-->
                    <div id="changeInfo" class="tab-pane fade show active mb-5 text-center">
                        <h6>Họ và tên</h6>
                        <h4 class="mt-3" style="font-weight:800;">{{user.FullName}}</h4>
                        <h6 class="mt-5">Email</h6>
                        <h4 class="mt-3" style="font-weight:800;">{{user.Email}}</h4>
                        {{#if isBidder}}
                            <button class="btn mt-5 mx-3 px-3 py-2" data-toggle="modal"
                                data-target="#requestSellerStatus" style="border-radius: 20px; background:#FFF3F3;">Xin
                                bán</button>
                        {{/if}}

                        <button class="btn mt-5 mx-3 px-3 py-2" data-toggle="modal" data-target="#changeInfoModal"
                            style="border-radius: 20px; background: #E6FFC7;">Đổi thông
                            tin</button>
                        <button class="btn mt-5 mx-3 px-3 py-2" style="border-radius: 20px; background: #C4DDDB; "
                            data-toggle="modal" data-target="#changePasswordModal">Đổi mật
                            khẩu</button>
                    </div>


                    <!--Change info modal-->
                    <div id="changeInfoModal" class="modal fade" tabindex="-1" role="dialog"
                        aria-labelledby="changeInfoModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" style="border-radius: 20px;">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <br>
                                    <h4 class="mt-4" style="font-weight:800;">Đổi thông tin</h4>
                                    <div class="container col-md-10 mt-4 my-3"
                                        style="background:#F8F8F8; border-radius: 20px;">
                                        <div class="row justify-content-center">
                                            <!--Change info form-->
                                            <form action="/account/changeinfo" id="changeInfo"
                                                class="py-5 col-md-9 justify-content-center" method="POST">
                                                <h6 class="mt-3 mb-2">Họ tên mới</h6>
                                                <input type="text" name="FullName" id="newFullName"
                                                    style="border-radius:20px; border:none;"
                                                    class="form-control mt-3 align-center py-3 px-3">
                                                <h6 class=" mt-4 mb-2">Email mới</h6>
                                                <input type="email" name="Email" id="newEmail"
                                                    style="border-radius:20px; border:none;"
                                                    class="form-control mt-4 py-3  px-3">
                                                <input type="submit" id="infoChangeConfirm"
                                                    class="btn col-4 mt-5 mb-1 py-2 px-3" value="Đổi"
                                                    style="border-radius: 20px; background: #E6FFC7;">
                                            </form>
                                        </div>
                                    </div>
                                    <!--Submit button-->

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Change password modal-->
                    <div id="changePasswordModal" class="modal fade" tabindex="-1" role="dialog"
                        aria-labelledby="changePasswordModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" style="border-radius: 20px;">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <br>
                                    <h4 class="mt-4" style="font-weight: 800;">Đổi mật khẩu</h4>
                                    <div class="container col-md-10 mt-4 mb-3"
                                        style="background:#F8F8F8; border-radius: 20px;">
                                        <div class="row justify-content-center">
                                            <!--Change password form-->
                                            <form action="/account/changePassword"
                                                class="py-5 col-md-9 justify-content-center">
                                                <h6 class="mt-3 mb-2" id="newPassword">Mật khẩu mới</h6>
                                                <input type="password" name="newPassword"
                                                    style="border-radius:20px; border:none;"
                                                    class="form-control mt-3 align-center py-3 px-3">
                                                <h6 class=" mt-4 mb-2" id="newPasswordConfirm">Nhập lại mật khẩu mới
                                                </h6>
                                                <input type="password" name="newPasswordRepeat"
                                                    style="border-radius:20px; border:none;"
                                                    class="form-control mt-4 py-3  px-3">
                                                <h6 class=" mt-4 mb-2">Mật khẩu cũ</h6>
                                                <input type="password" name="oldPassword" id="oldPassword"
                                                    style="border-radius:20px; border:none;"
                                                    class="form-control mt-4 py-3  px-3">
                                                <!--Submit button-->
                                                <input id="passwordChangeConfirm" type="submit"
                                                    class="col-4 btn mt-3 mb-4 py-2 px-3"
                                                    style="border-radius: 20px; background: #E6FFC7;">
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Request seller status modal-->
                    {{#if isBidder}}
                        <div id="requestSellerStatus" class="modal fade" tabindex="-1" role="dialog"
                            aria-labelledby="changePasswordModal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content" style="border-radius: 20px;">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <br>
                                        <h6 class="my-4">Bạn có chắc chắn muốn xin bán?
                                            duyệt!</h6>

                                        <form action="/account/request" method="POST">
                                            <input class="btn mt-1 mb-2 py-2 px-3" type="submit"
                                                style="border-radius: 20px; background: #E6FFC7;" value="Đồng ý">
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/if}}

                    <!--End change info section-->

                    <!--My ratings section-->

                    <div id="myRatings" class="tab-pane fade mb-5 container">
                        <!--General statistics-->
                        <div class="row col-8 mx-auto justify-content-center">
                            <div class="col card mx-5 shadow-sm text-center py-5"
                                style="border-radius: 20px; border:none; background: #E6FFC7 ;">
                                <h2 style="font-weight: 800;">{{user.BeRated}}</h2>
                                <h6 class="mt-1">lượt đánh giá</h6>
                            </div>
                            <div class="col card mx-5 shadow-sm text-center py-5"
                                style="border-radius: 20px; border:none; background: #E9F4F3 ;">
                                <h2 style="font-weight: 800;">{{user.RatedPoint}}</h2>
                                <h6 class="mt-1">điểm đánh giá</h6>
                            </div>
                        </div>

                        <!--Ratings section-->
                        <div class="row justify-content-center mt-5 card-columns">
                            {{#if isBidder}}
                                {{#each myRatings}}
                                    {{> comment-from-seller}}
                                {{/each}}
                            {{/if}}
                            {{#if isSeller}}
                                {{#each myRatings}}
                                    {{> comment-from-bidder}}
                                {{/each}}
                            {{/if}}
                        </div>

                    </div>

                    <!--End my rating tab section-->

                    <!--My saved products list-->
                    <div id="mySavedProducts" class="tab-pane fade mb-5 text-center card-columns">
                        {{#each watchlist}}
                            {{> card-product-favorite}}
                        {{/each}}
                    </div>

                    <!--My active biddings-->
                    <div id="myActiveBiddings" class="tab-pane fade mb-5 text-center card-columns">
                        {{#each biddingList}}
                            {{> card-product-favorite}}
                        {{/each}}
                    </div>


                    {{#if isSeller}}
                        <!--My products-->
                        <div id="myProducts" class="tab-pane fade mb-5 text-center card-columns">
                            {{#each myActiveProducts}}
                                {{> card-product-favorite}}
                            {{/each}}
                        </div>
                    {{/if}}

                    <!--Won products-->
                    <div id="wonProducts" class="tab-pane fade mb-5 text-center card-columns">
                        {{#each wonProducts}}
                            {{> card-product-won}}
                        {{/each}}
                    </div>

                    <!--Ended products-->
                    <div id="endedProducts" class="tab-pane fade mb-5 text-center card-columns">

                        {{#each myFinishedProducts}}
                            {{> card-product-sold}}
                        {{/each}}
                    </div>



                </div>
            </div>
        </div>
        <!--End tab pages section-->
    </div>
</div>