<div class=" container col-md-10 justify-content-center text-center mt-5"
    style=" border-radius: 20px; background: white; height:70vh; ">

    <!--Avatar big size-->
    <img class="avatar mt-5" src="../public/images/avatar.png" width="250em" height="250em" alt="">

    <!--Username-->
    <h2 style="font-weight:800;" class="mt-5 mb-5">Xin chào!</h2>
    <!--Tab links-->
    <ul class="nav nav-pills justify-content-center manage-menu">
        <li class="nav-item px-1 active my-4">
            <a class="mx-4 manage-tab-links active" data-toggle="pill" style="font-size: 1em;"
                href="#manageCategory">Danh mục</a>
        </li>
        <li class="nav-item px-1 my-4">
            <a class="mx-4 manage-tab-links" data-toggle="pill" href="#accountList" style="font-size: 1em;">Người
                dùng</a>
        </li>
        <li class="nav-item px-1 my-4">
            <a class="mx-4 manage-tab-links" data-toggle="pill" href="#upgradeRequests" style="font-size: 1em;">Yêu
                cầu nâng cấp</a>
        </li>

    </ul>
    <div class="row ">
        <!--Tab pages section-->
        <div class="col mt-5">
            <div class="container-fluid col-10">
                <div class="tab-content text-center justify-content-center ">
                    <div id="accountList" class="tab-pane fade  mb-5 text-center col-10 mx-auto">
                        <table class="table table-borderless table-hover">
                            <thead>
                                <tr>
                                    <th style="font-size: 1.5em;">ID</th>
                                    <th style="font-size: 1.5em;">Họ và tên</th>
                                    <th style="font-size: 1.5em;">Email</th>
                                    <th style="font-size: 1.5em;">Địa chỉ</th>
                                    <th style="font-size: 1.5em;">Phân hệ</th>
                                    <th style="font-size: 1.5em;">Tuỳ chọn</th>
                                </tr>
                            </thead>
                            {{#each accountList}}
                                <tr>
                                    <td class="align-middle">
                                        <h6>{{AccID}}</h6>
                                    </td>
                                    <td class="align-middle">
                                        <h6>{{FullName}}</h6>
                                    </td>
                                    <td class="align-middle">
                                        <h6>{{Email}}</h6>
                                    </td>
                                    <td class="align-middle">
                                        <h6>{{Address}}</h6>
                                    </td>
                                    {{#if isSeller}}
                                        <td class="align-middle">
                                            <h6>Người bán</h6>
                                        </td>
                                        <td class="align-middle">

                                            <form action="/account/downgradeseller={{AccID}}" style="display: inline;"
                                                method="POST">
                                                <input value="Hạ cấp" type="submit"
                                                    class="btn btn-outline-primary btn-sm" style="border-radius:20px;">
                                            </form>

                                        </td>


                                    {{/if}}

                                    {{#if isBidder}}
                                        <td class="align-middle">
                                            <h6>Người mua</h6>
                                        </td>

                                        <td class="align-middle">

                                            <form action="/account/upgradebidder={{AccID}}" style="display: inline;"
                                                method="POST">
                                                <input value="Nâng cấp" type="submit"
                                                    class="btn btn-outline-success btn-sm" style="border-radius:20px;">
                                            </form>

                                        </td>



                                    {{/if}}

                                </tr>
                            {{/each}}
                        </table>
                    </div>
                    <div id="upgradeRequests" class="tab-pane fade  mb-5 text-center col-8 mx-auto">
                        <table class="table table-borderless table-hover">
                            <thead>
                                <tr>
                                    <th style="font-size: 1.5em;">Ngày</th>
                                    <th style="font-size: 1.5em;">Người dùng</th>
                                    <th style="font-size: 1.5em;">Tuỳ chọn</th>
                                </tr>
                            </thead>
                            {{#each waitingToSell}}
                                <tr>
                                    <td class="align-middle">
                                        <h6>{{DateTime}}</h6>
                                    </td>
                                    <td class="align-middle">
                                        <h6>{{FullName}}</h6>
                                    </td>
                                    <td class="align-middle">

                                        <form action="/account/acceptrequest={{AccID}}" style="display: inline;"
                                            method="POST">
                                            <input value="Duyệt" type="submit" class="btn btn-outline-primary btn-sm"
                                                style="border-radius:20px;">
                                        </form>

                                        <form action="/product/deleterequest={{AccID}}" style="display: inline;"
                                            method="POST">
                                            <input value="Xoá" type="submit" class="btn btn-outline-danger btn-sm"
                                                style="border-radius:20px;">
                                        </form>

                                    </td>
                                </tr>
                            {{/each}}
                        </table>
                    </div>
                    <!--Category section-->
                    <div id="manageCategory" class="tab-pane fade show active mb-5 text-center col-8 mx-auto">
                        <button class="btn btn-success mb-5" id="adminCategoryAdd" style="border-radius:20px;"
                            data-toggle="modal" data-target="#addCategoryModal">Thêm danh mục</button>
                        <table class="table table-borderless table-hover">
                            <thead>
                                <tr>
                                    <th style="font-size: 1.5em;">Danh mục cấp 1</th>
                                    <th style="font-size: 1.5em;">Danh mục cấp 2</th>
                                    <th style="font-size: 1.5em;">Tuỳ chọn</th>
                                </tr>
                            </thead>
                            {{#each categoriesAndTypes}}
                                <tr>
                                    <td class="align-middle">
                                        <h6>{{CatName}}</h6>
                                    </td>
                                    <td class="align-middle">
                                        <h6>{{TypeName}}</h6>
                                    </td>
                                    <td class="align-middle">

                                        <button class="btn btn-outline-primary btn-sm mr-1" style="border-radius:20px;"
                                            data-toggle="modal" data-target="#editCategoryModal">Sửa</button>

                                        <form action="/product/deletetype&typeid={{TypeID}}" style="display: inline;"
                                            method="POST">
                                            <input value="Xoá" type="submit" class="btn btn-outline-danger btn-sm"
                                                style="border-radius:20px;">

                                        </form>

                                    </td>
                                </tr>
                            {{/each}}

                        </table>
                    </div>
                    <!--Add category modal-->
                    <div id="addCategoryModal" class="modal fade" tabindex="-1" role="dialog"
                        aria-labelledby="changePasswordModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" style="border-radius: 20px;">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <br>
                                    <h4 class="my-4">Thêm danh mục</h4>
                                    <form action="/product/addcategory" method="POST">
                                        <input name="CatName" type="text" class=" col-8 mx-auto mt-5 mb-3 form-control"
                                            placeholder="Tên danh mục cấp 1"
                                            style="background: #F8F8F8; border-radius: 20px; border:none; height: 50px; text-decoration: none; outline: none; text-align: center;">
                                        <input name="TypeName" type="text" class="col-8 mx-auto mb-4 form-control"
                                            placeholder="Tên danh mục cấp 2"
                                            style="background: #F8F8F8; border-radius: 20px; border:none; height: 50px; text-decoration: none; outline: none; text-align: center;">
                                        <input type="submit" class="btn mt-4 mb-4 py-2 px-3"
                                            style="border-radius: 20px; background: #E6FFC7;" value="Thêm">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Edit category modal-->
                    <div id="editCategoryModal" class="modal fade" tabindex="-1" role="dialog"
                        aria-labelledby="changePasswordModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" style="border-radius: 20px;">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <br>
                                    <h4 class="my-4">Sửa danh mục</h4>
                                    <form action="/product/edittype&typeid={{TypeID}}" method="POST">
                                        <input name="editCategoryCat1" type="text"
                                            class=" col-8 mx-auto mt-5 mb-3 form-control"
                                            placeholder="Tên danh mục cấp 1"
                                            style="background: #F8F8F8; border-radius: 20px; border:none; height: 50px; text-decoration: none; outline: none; text-align: center;">
                                        <input name="editCategoryCat2" type="text"
                                            class="col-8 mx-auto mb-4 form-control" placeholder="Tên danh mục cấp 2"
                                            style="background: #F8F8F8; border-radius: 20px; border:none; height: 50px; text-decoration: none; outline: none; text-align: center;">
                                        <input type="submit" class="btn btn-primary mt-4 mb-4 py-2 px-3"
                                            style="border-radius: 20px;" value="Sửa">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--Delete category modal-->
                    <div id="deleteCategoryModal" class="modal fade">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" style="border-radius: 20px;">
                                <div class="modal-body justify-content-center">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <br>
                                    <h4 class="my-4">Xoá danh mục</h4>
                                    <h6 class="my-4">Bạn có chắc chắn muốn xoá danh mục này
                                        không?</h6>
                                    <div class="row mx-auto col-6 justify-content-center text-center my-4">
                                        <button class="btn btn-light mx-auto" style="border-radius: 20px;"
                                            data-dismiss="modal">Trở về</button>
                                        <input type="submit" class="btn btn-danger mx-auto" id="deleteCategoryConfirm"
                                            style="border-radius: 20px;" value="Xoá">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

                <!--Ended products-->




            </div>
        </div>
    </div>
    <!--End tab pages section-->
</div>
</div>