<div class="container col-10">

    <!--Homepage Section-->
    <!--Home page image-->
    <div class="row">
        <div class="col-md">
            <img class="img-fluid" src="images/main.png" alt="">
        </div>

    </div>

    <!--5 most bidden items-->
    <div class="row ">
        <h2 class="mx-auto mb-5">Được đấu giá nhiều nhất</h2>
    </div>
    <div class="row mb-5 card-columns">
        {{#each topBid}}
            {{> card-product}}
        {{/each}}
    </div>

    <!--5 most expensive products-->
    <div class="row">
        <h2 class="mx-auto mb-5">Giá cao nhất</h2>
    </div>
    <div class="row mb-5 card-columns">
        {{#each highestPrice}}
            {{> card-product}}
        {{/each}}
    </div>

    <!--5 about to end-->
    <div class="row">
        <h2 class="mx-auto mb-5">Sắp hết hạn</h2>
    </div>
    <div class="row mb-5 card-columns">
        {{#each aboutToExpire}}
            {{> card-product}}
        {{/each}}
    </div>




</div>