<div class=" container col-md-10 justify-content-center text-center mt-5"
    style=" border-radius: 20px; background: white; height:70vh; ">
    <!--Tab links-->
    <div class="row ">

        <!--Tab pages section-->
        <div class="col-6 mt-5">
            <div class="container-fluid">
                <div class="tab-content text-center justify-content-center ">
                    <!--Login-->
                    <div id="login" class="tab-pane fade show active my-5">
                        <h2 style="font-weight:800;" class="mt-5">Đăng nhập</h2>
                        <br>
                        <br>
                        <div class="col-6 mx-auto">
                            <!--Login form-->
                            <form action="/login" method="POST">
                                <input name="username" type="email" class="form-control py-4 px-4 " id="loginEmail"
                                    placeholder="Email" style="border-radius: 20px;">
                                <input name="password" type="password" class="form-control py-4 px-4" id="loginPassword"
                                    placeholder="Mật khẩu" style="margin-top: 3vh; border-radius: 20px;">
                                {{#if loginError}}
                                    <h6 class="error mt-3" id="loginError">Không tìm thấy
                                        email/mật khẩu!</h6>
                                {{/if}}
                                <a href="#" class="mt-3" style="display: block;" data-toggle="modal"
                                    data-target="#PasswordRecoveryModal">Quên mật khẩu?</a>

                                <input type="submit" class=" form-control col-4 btn mt-5 px-3 py-2" type="submit"
                                    id="loginSubmit" style="border-radius: 20px; background: #E6FFC7;"
                                    value="Đăng nhập">

                            </form>
                        </div>


                        <div id="PasswordRecoveryModal" class="modal fade">
                            <div class="modal-dialog modal-dialog-centered ">
                                <div class="modal-content" style="border-radius: 20px;">
                                    <div class="modal-body text-center">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>

                                        <h4 class="my-4">Quên mật khẩu</h4>
                                        <!--Pasword Recovery -->
                                        <form action="/password-recovery" method="POST">
                                            <input name="passwordRecoveryEmail" type="text"
                                                placeholder="Nhập địa chỉ email" id="PasswordRecoveryEmail"
                                                class="form-control col-6 mx-auto my-4 py-3 px-3;"
                                                style="border-radius:20px; text-align: center;">
                                            <input type="submit" value="Gửi OTP"
                                                class="btn form-control col-3 mt-2 mb-3">

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End tab pages section-->

        <div class="col-md-6">
            <!--Image section-->
            <img class="img-fluid mt-5" src="images/welcome-2.png" style="height: 50vh;" alt="">
        </div>
    </div>


</div>