<div class="container-fluid col-10">

    <!--Product info section-->

    <!--First row-->
    <h4 class="col-md-12 text-center my-5 mx-auto" style="font-weight: 800;">{{Product.ProName}}</h4>
    <!--Second row-->
    <div class="row">

        <!--Image carousel-->
        <div class="col-md-6 h-100">

            <div id="productImageCarousel" class="carousel slide h-100" data-ride="carousel">

                <!--Items-->
                <div class="carousel-inner">
                    <img src="/assets/ProductImg/{{Product.ProID}}/1.jpg" width="500px" height="400px" alt=""
                        class="carousel-item active">
                    <img src="/assets/ProductImg/{{Product.ProID}}/2.jpg" width="500px" height="400px" alt=""
                        class="carousel-item">
                    <img src="/assets/ProductImg/{{Product.ProID}}/3.jpg" width="500px" height="400px" alt=""
                        class="carousel-item ">

                </div>

                <!--Carousel indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#productImageCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#productImageCarousel" data-slide-to="1"></li>
                    <li data-target="#productImageCarousel" data-slide-to="2"></li>
                </ol>

            </div>

            <!--Function buttons-->
            <div class="row my-3 justify-content-center px-3">
                <!--Save button-->
                {{#if isBidder}}
                    <form action="/product/save&id={{Product.ProID}}" style="display: inline-block;" method="POST">
                        <input type="submit" class="btn" style="background: none; outline:none;" value="Lưu">
                    </form>
                {{/if}}
                {{#if isSeller}}
                    <form action="/product/save&id={{ProID}}" style="display: inline-block;" method="POST">
                        <input type="submit" class="btn" style="background: none; outline:none;" value="Lưu">
                    </form>
                {{/if}}
                <!--Bidding history-->
                <div class="col-md-3 my-1 btn ml-3" data-toggle="modal" data-target="#biddingHistory"
                    style="background: #FFFDC7; border-radius: 20px;">Lịch sử đấu giá
                </div>

                <div id="biddingHistory" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="biddingHistory"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg  " role="document">
                        <div class="modal-content" style="border-radius:20px;">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <br>
                                <h4 class="modal-title text-center pt-3 pb-4 ">Lịch sử đấu giá</h4>
                                <div class="container-fluid col-md-11">
                                    <table class="table table-borderless table-hover mb-5"
                                        style="background: #F8F8F8; border-radius: 20px;">
                                        <thead>
                                            <tr>
                                                <th class="text-center" scope="col">Ngày</th>
                                                <th class="text-center" scope="col">Người đấu giá</th>
                                                <th class="text-center" scope="col">Điểm</th>
                                                <th class="text-center" scope="col">Mức giá</th>
                                                <!--Conditional rendering for seller-->
                                                {{#if isOwner}}
                                                    <th class="text-center" scope="col">Tuỳ chọn</th>
                                                {{/if}}
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {{#if isSeller}}
                                                {{#each BidHistory}}
                                                    <tr>
                                                        <td class="text-center align-middle">{{BidDate}}</td>
                                                        <td class="text-center align-middle">{{FullName}}</td>
                                                        <td class="text-center align-middle">{{RatedPoint}}</td>
                                                        <td class="text-center align-middle">{{BidValue}}</td>
                                                        <!--Conditional rendering for seller-->
                                                        {{#if @root.isOwner}}
                                                            <td class="text-center align-middle"><button
                                                                    class="btn btn-danger td-button"
                                                                    style="font-size: 0.75em; border-radius: 20px;">Từ
                                                                    chối</button></td>
                                                        {{/if}}
                                                    </tr>
                                                {{/each}}
                                            {{/if}}

                                            {{#if isBidder}}
                                                {{#each BidHistory}}
                                                    <tr>
                                                        <td class="text-center align-middle">{{BidDate}}</td>
                                                        <td class="text-center align-middle">{{FullName}}</td>
                                                        <td class="text-center align-middle">{{RatedPoint}}</td>
                                                        <td class="text-center align-middle">{{BidValue}}</td>
                                                    </tr>
                                                {{/each}}
                                            {{/if}}

                                            {{#if isGuest}}
                                                {{#each BidHistory}}
                                                    <tr>
                                                        <td class="text-center align-middle">{{BidDate}}</td>
                                                        <td class="text-center align-middle">{{FullName}}</td>
                                                        <td class="text-center align-middle">{{RatedPoint}}</td>
                                                        <td class="text-center align-middle">{{BidValue}}</td>
                                                    </tr>
                                                {{/each}}
                                            {{/if}}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End bidding history-->
            </div>

        </div>

        <!--General infos-->
        <div class="col-md-6 pl-5 ">

            <!--Seller, upload date and remaining time-->
            <div class="row shadow-sm" style="border-radius: 20px; background: #FFF3F3;">

                <!--Seller-->
                <div class="col my-3">
                    <div class="mb-3 ">Người bán</div>
                    <div class="mb-3 mx-auto">
                        <img src="/images/man.png" alt="" />
                    </div>
                    <div class="mb-1 ">{{Seller.FullName}}</div>
                </div>

                <!--Upload date-->
                <div class="col my-3">
                    <div class="mb-3 ">Ngày đăng</div>
                    <div class="mb-3 mx-auto">
                        <img src="../images/calendar.png" alt="" />
                    </div>
                    <div class="mb-1 ">{{Product.StartingDate}}</div>
                </div>

                <!--Expiration date-->
                <div class="col my-3">
                    <div class="mb-3 ">Hết hạn</div>
                    <div class=" mb-3 mx-auto">
                        <img src="../images/time.png" alt="" />
                    </div>
                    <div class=" mb-1">{{Product.EndingDate}}</div>
                </div>

            </div>

            <!--Buyout and bid-->
            <div class="row mt-4 h-100">

                <!--Bid-->
                <div class="col-6 pl-0 pr-3 h-100">
                    <div class="card shadow-smsm py-4" style="border: none; background: #E9F4F3; border-radius: 20px;">
                        <h6 class="mx-auto mb-3">Giá hiện tại</h6>
                        <h4 class="mx-auto mb-3" style="font-weight: 800; ">{{Product.CurrentPrice}}</h4>
                        <h6 class="mx-auto mb-3">bởi {{TopBidder.FullName}}</h6>
                        {{#if isBidder}}
                            <button class="btn mx-auto mt-3"
                                style="width: 5vw; background: #C4DDDB; border-radius: 20px; font-size: 0.9em;"
                                data-toggle="modal" data-target="#bidPanel">
                                Đấu giá
                            </button>
                        {{/if}}
                        {{#if isSeller}}
                            <button class="btn mx-auto mt-3"
                                style="width: 5vw; background: #C4DDDB; border-radius: 20px; font-size: 0.9em;"
                                data-toggle="modal" data-target="#bidPanel">
                                Đấu giá
                            </button>
                        {{/if}}


                        <!--Modal for bidding-->
                        <div id="bidPanel" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="bidPanel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered  " role="document">
                                <div class="modal-content" style="border-radius:20px;">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <br>
                                        <h5 class="modal-title text-center pt-3 pb-3 ">Giá hiện tại</h5>
                                        <h2 class="modal-title text-center pb-5 ">{{Product.CurrentPrice}}</h2>

                                        <!--Tab links-->
                                        <ul class="nav nav-pills justify-content-center">
                                            <li class="px-1 active">
                                                <a class="nav-link active" data-toggle="pill"
                                                    style="border-radius:20px; font-size: 0.8em;"
                                                    href="#manualBidding">Đấu giá
                                                    thường</a>
                                            </li>
                                            <li class="px-1">
                                                <a class="nav-link" data-toggle="pill" href="#autoBidding"
                                                    style="border-radius:20px; font-size: 0.8em;">Đấu giá tự
                                                    động</a>
                                            </li>
                                        </ul>

                                        <!--Tab pages section-->
                                        <div class="container-fluid col-md-8">
                                            <div class="tab-content text-center py-5">
                                                <div id="manualBidding" class="tab-pane active show fade in">
                                                    <h6 class="pb-2">Bước giá</h6>
                                                    <h3>{{Product.PriceStep}}</h3>
                                                    <br>
                                                    <h6 class="pb-2">Giá mới</h6>

                                                    <form id="manualBidForm" method="POST">
                                                        <input name="newPriceManual" type="text" id="newPriceManual"
                                                            class="px-3" class="form-control"
                                                            placeholder="{{SuggestedPrice}}"
                                                            style="background: #F8F8F8; border-radius: 20px; border:none; height: 50px; text-decoration: none; outline: none; text-align: center;">
                                                    </form>

                                                    <button class="btn mt-5 px-3 py-2" data-toggle="modal"
                                                        data-target="#manualBidConfirm"
                                                        style="border-radius: 20px; background: #E6FFC7; font-size: 0.9em;"
                                                        id="submitManualBid">Thanh toán</button>

                                                    <div id="manualBidConfirm" class="modal fade">
                                                        <div class="modal-dialog modal-dialog-centered modal-lg  "
                                                            role="document">
                                                            <div class="modal-content shadow"
                                                                style="border-radius:20px;">
                                                                <div class="modal-body">
                                                                    <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                    <br>
                                                                    <h4 class="modal-title text-center pt-3 pb-4 ">
                                                                        Xác nhận đấu giá</h4>
                                                                    <div class="container-fluid col-md-11">
                                                                        <table
                                                                            class="table table-borderless table-hover mb-5"
                                                                            style="background: #F8F8F8; border-radius: 20px;">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th class="text-center" scope="col">
                                                                                        Sản phẩm</th>
                                                                                    <th class="text-center" scope="col">
                                                                                        Hình thức</th>
                                                                                    <th class="text-center" scope="col">
                                                                                        Mức giá</th>
                                                                                    <!--Conditional rendering for seller-->
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td
                                                                                        class="text-center align-middle">
                                                                                        {{Product.ProName}}
                                                                                    </td>
                                                                                    <td
                                                                                        class="text-center align-middle">
                                                                                        Bình thường
                                                                                    </td>
                                                                                    <td class="text-center align-middle"
                                                                                        id="manualPriceInput">
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <button id="confirmManual"
                                                                            class="btn btn-primary mt-1 mb-5">Xác
                                                                            nhận</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div id="autoBidding" class="tab-pane fade">
                                                    <h6 class="pb-2">Bước giá</h6>
                                                    <h3>{{Product.PriceStep}}</h3>
                                                    <br>
                                                    <h6 class="pb-2">Giá tối đa</h6>

                                                    <form id="autoBidForm" method="POST">
                                                        <input type="text" id="newPriceAuto" name="newPriceAuto"
                                                            class="px-3" class="form-control"
                                                            placeholder="{{SuggestedPrice}}"
                                                            style="background: #F8F8F8; border-radius: 20px; border:none; height: 50px; text-decoration: none; outline: none; text-align: center;">

                                                    </form>

                                                    <button class="btn mt-5 px-3 py-2" data-toggle="modal"
                                                        data-target="#autoBidConfirm"
                                                        style="border-radius: 20px; background: #E6FFC7; font-size: 0.9em;"
                                                        id="submitAutoBid">Thanh toán</button>


                                                    <div id="autoBidConfirm" class="modal fade">
                                                        <div class="modal-dialog modal-dialog-centered modal-lg  "
                                                            role="document">
                                                            <div class="modal-content shadow"
                                                                style="border-radius:20px;">
                                                                <div class="modal-body">
                                                                    <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                    <br>
                                                                    <h4 class="modal-title text-center pt-3 pb-4 ">Xác
                                                                        nhận đấu giá</h4>
                                                                    <div class="container-fluid col-md-11">
                                                                        <table
                                                                            class="table table-borderless table-hover mb-5"
                                                                            style="background: #F8F8F8; border-radius: 20px;">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th class="text-center" scope="col">
                                                                                        Sản phẩm</th>
                                                                                    <th class="text-center" scope="col">
                                                                                        Hình thức</th>
                                                                                    <th class="text-center" scope="col">
                                                                                        Mức giá</th>
                                                                                    <!--Conditional rendering for seller-->
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td
                                                                                        class="text-center align-middle">
                                                                                        {{Product.ProName}}
                                                                                    </td>
                                                                                    <td
                                                                                        class="text-center align-middle">
                                                                                        Tự động
                                                                                    </td>
                                                                                    <td class="text-center align-middle"
                                                                                        id="autoPriceInput">
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <button id="confirmAuto"
                                                                            class="btn btn-primary mt-1 mb-5">Xác
                                                                            nhận</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--Buyout-->
                <div class="col-6 pl-3 pr-0 h-100">
                    <div class="card shadow-sm py-4" style="border: none; background: #E9F4F3; border-radius: 20px;">
                        <h6 class="mx-auto mb-3" style="visibility: hidden;">Giá mua ngay</h6>
                        <h6 class="mx-auto mb-3">Giá mua ngay</h6>
                        <h4 class="mx-auto mb-3" style="font-weight: 800;">{{Product.BuyoutPrice}}</h4>
                        {{#if isBidder}}
                            <button class="btn mx-auto mt-3"
                                style="width: 5vw; background: #C4DDDB; border-radius: 20px; font-size: 0.9em;">
                                Mua ngay
                            </button>
                        {{/if}}
                        {{#if isSeller}}
                            <button class="btn mx-auto mt-3"
                                style="width: 5vw; background: #C4DDDB; border-radius: 20px; font-size: 0.9em;">
                                Mua ngay
                            </button>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Third Row-->
    <h4 class="col-md-12 text-center mt-5 mb-4 mx-auto">Chi tiết sản phẩm</h4>

    <!--Fourth Row-->
    <div class="row my-2">
        <!--Seller point-->
        <div class="col-md-2 mt-3 py-3 text-center mx-auto card detail-card shadow-sm">
            <h6 class="pb-2">Điểm người bán</h6>
            <h4 style="font-weight: 800;">{{Seller.RatedPoint}}</h4>
        </div>

        <!--Top bidder point-->
        <div class="col-md-2 py-3 mt-3 text-center mx-auto card detail-card shadow-sm">
            <h6 class="pb-2">Điểm top bidder</h6>
            <h4 style="font-weight: 800;">{{TopBidder.RatedPoint}}</h4>
        </div>

        <!--Price step-->
        <div class="col-md-2 py-3 mt-3 text-center mx-auto card detail-card shadow-sm">
            <h6 class="pb-2">Bước giá</h6>
            <h4 style="font-weight: 800;">{{Product.PriceStep}}</h4>
        </div>

        <!--Starting price-->
        <div class="col-md-2 py-3 mt-3 text-center mx-auto card detail-card shadow-sm">
            <h6 class="pb-2">Giá khởi điểm</h6>
            <h4 style="font-weight: 800;">{{Product.StartingPrice}}</h4>
        </div>

        <!--Bid counts-->
        <div class="col-md-2 py-3 mt-3 text-center mx-auto card detail-card shadow-sm">
            <h6 class="pb-2">Lượt đấu giá</h6>
            <h4 style="font-weight: 800;">{{Product.BidCount}}</h4>
        </div>
    </div>

    <!--Fifth Row-->
    <!--Product summary-->
    <div class="row mt-5 py-5 px-5 card detail-card text-center shadow-sm">
        <h6 style="text-align: justify; line-height: 200%;">{{{Product.Description}}}</h6>
    </div>
    <div class="row mt-1 mb-5 py-5 px-5 text-center ">
        {{#if isOwner}}
            <button class=" btn btn-primary mx-auto" data-toggle="modal" data-target="#addDescriptionModal">Bổ sung mô
                tả</button>
        {{/if}}

        <div id="addDescriptionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="biddingHistory"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg  " role="document">
                <div class="modal-content" style="border-radius:20px;">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <br>
                        <h4 class="modal-title text-center pt-3 pb-4 ">Bổ sung mô tả</h4>
                        <form id="addDescription" method="POST" action="/product/updateDes&id={{Product.ProID}}">
                            <div class="mx-5">
                                <textarea name="addedDescription" id="tiny"></textarea>
                            </div>
                            <input type="submit" id="acceptEdit" class="btn btn-primary my-4" value="Xác nhận">
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->


    <!--Final Row-->
    <!--Related products-->
    <h4 class="col-md-12 text-center mt-5 mb-4 mx-auto">Sản phẩm tương tự</h4>
    <div class="row my-5 card-columns">
        {{#each RelatedProducts}}
            {{> card-product}}
        {{/each}}
    </div>
</div>



<!--End product info section-->

<script>
    var manualConfirm1 = document.getElementById("submitManualBid");
    var autoConfirm1 = document.getElementById("submitAutoBid")
    var manualConfirm2 = document.getElementById("confirmManual");
    var autoConfirm2 = document.getElementById("confirmAuto");
    var form1 = document.getElementById("manualBidForm");
    var form2 = document.getElementById("autoBidForm");

    manualConfirm1.addEventListener("click", function ()
    {
        var price = document.getElementById("newPriceManual").value;
        var confirmPrice = document.getElementById("manualPriceInput");

        confirmPrice.innerHTML = price;
        manualConfirm2.addEventListener("click", function ()
        {
            form1.action = "/product/newmanualbid&id=" + "{{ Product.ProID}}";
            form1.submit();
        });
    });

    autoConfirm1.addEventListener("click", function ()
    {
        var price = document.getElementById("newPriceAuto").value;
        var confirmPrice = document.getElementById("autoPriceInput");

        confirmPrice.innerHTML = price;
        autoConfirm2.addEventListener("click", function ()
        {
            form2.action = "/product/newautobid&id=" + "{{ Product.ProID}}";
            form2.submit();
        });
    });




</script>