<!--Homepage Section-->
<div class="container col-10 ">
    <!--Tittle-->
    <h2 class="my-5 text-center">{{ProductListName}}</h2>
    <!--End title-->

    <!--Sort section-->
   
    <!--End sort section-->

    <!--First Row-->
    <div class="row mb-5">
        {{#each ResProduct}}
            {{> card-product}}
        {{/each}}
    </div>

    <!--Second Row-->
    <div class="row mb-5">

    </div>

    <div class="row justify-content-center">
        <nav class="my-5 mx-auto" aria-label="Page navigation example">
            <ul class="pagination">
                {{#if PrevPage}}
                    <li class="page-item"><a class="page-link" href="/product/ptypeid={{TypeID}}/page={{PrevPage}}">Trang trước</a></li>
                {{/if}}
                <li class="page-item"><a class="page-link" >{{page}}</a></li>
                {{#if NextPage}}
                <li class="page-item"><a class="page-link" href="/product/ptypeid={{TypeID}}/page={{NextPage}}">Trang sau</a></li>
                {{/if}}
            </ul>
        </nav>
    </div>

</div>
</div>