<div class=" container col-md-10 justify-content-center text-center mt-5"
    style=" border-radius: 20px; background: white; height:70vh; ">

    <div class="row ">

        <!--Tab pages section-->
        <div class="col-6 mt-5">
            <div class="container-fluid">
                <div class="tab-content text-center justify-content-center ">

                    <!--Sign up-->
                    <div id="signup" class="tab-pane active show fade mb-5">
                        <h2 style="font-weight:800;">Đăng ký</h2>
                        <br>
                        <br>
                        <div class="col-6 mx-auto">
                            <!--Sign up form -->
                            <form action="/signup" method="POST">
                                <input name="signUpName" type="text" class="form-control py-4 px-4 " id="signupName"
                                    placeholder="Họ và tên" style="border-radius: 20px;">

                                <input name="signUpEmail" type="email" class="form-control py-4 px-4 " id="signupEmail"
                                    placeholder="Email" style="border-radius: 20px; margin-top: 2vh; ">

                                <input name="signUpAddress" type="text" class="form-control py-4 px-4 "
                                    id="signupAddress" placeholder="Địa chỉ"
                                    style="border-radius: 20px; margin-top: 2vh; ">

                                <input name="signUpPassword" type="password" class="form-control py-4 px-4"
                                    id="signupPassword" placeholder="Mật khẩu"
                                    style="margin-top: 2vh; border-radius: 20px;">

                                <input name="signUpPasswordConfirm" type="password" class="form-control py-4 px-4"
                                    id="signupPasswordRepeat" placeholder="Nhập lại mật khẩu"
                                    style="margin-top: 2vh; border-radius: 20px;">

                                <div name="Captcha" class="row g-recaptcha mt-4 justify-content-center text-center"
                                    data-sitekey="6LeayscUAAAAAHq22YP3eLjuSidYjzZTtDZls63-"></div>
                                {{#if signupErrorCaptcha}}
                                    <h6 class="error mt-2" id="signupErrorPasswordRepeat">Bạn chưa xác thực captcha!
                                    </h6>
                                {{/if}}
                                {{#if signupError}}
                                    <h6 class="error mt-2" id="signupErrorPasswordRepeat">Thông tin chưa hợp lệ!
                                    </h6>
                                {{/if}}
                                <input class="btn mt-4 px-3 py-2 form-control col-4" type="submit"
                                    style="border-radius: 20px; background: #E6FFC7;" value="Đăng ký">
                            </form>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        <!--End tab pages section-->

        <div class="col-md-6">
            <!--Image section-->
            <img class="img-fluid mt-5" src="images/welcome-2.png" style="height: 50vh;" alt="">
        </div>
    </div>


</div>