<form class=" container col-md-10 justify-content-center text-center mt-5"
    style=" border-radius: 20px; background: white; height:70vh; " method="POST" action="/product/add"
    enctype="multipart/form-data">

    <h2 class="text-center mb-5" style="font-weight: 800;">Đăng sản phẩm</h2>

    <div class="row col-6 text-center mx-auto justify-content-center my-5 " style="align-items: center;">
        <h5 class=" mt-2 mx-3">Tư động gia hạn?</h5>
        <input name="isAutoExtend" type="checkbox" class=" align-middle" id="AutoExtend">
        <select name="Type" class="mx-5"
            style="padding-top: 7px; padding-bottom:7px; padding-left:10px; padding-right:10px; outline:none; border-radius:20px;">
            {{#each ProductTypes}}
                <option value="{{TypeID}} - {{TypeName}}">{{TypeID}} - {{TypeName}}</option>
            {{/each}}
        </select>
    </div>

    <input name="Name" type="text" id="UploadProductName" class="mx-auto text-center row col-6 form-control"
        style="border-radius: 20px;background:#F8F8F8; border: none; padding-bottom: 1vh; font-size: 1.5em;"
        placeholder="Tên sản phẩm">


    <div class="row col-md-8 mx-auto justify-content-center mb-3 ">
        <div class="col-3 my-5 mx-3" style="background: none;">
            <input name="StartingPrice" type="text" class="form-control py-4" id="UploadProductStartingPrice"
                placeholder="Giá khởi điểm" inputmode="numeric"
                style="border-radius: 20px; border:none; background: #f8f8f8; outline: none; text-align: center; font-size: 1.2em;">
        </div>
        <div class="col-3 my-5 mx-3" style="background: none;">
            <input name="PriceStep" type="text" class="form-control py-4" id="UploadProductPriceStep"
                placeholder="Bước giá" inputmode="numeric"
                style="border-radius: 20px; border:none; background: #f8f8f8; outline: none; text-align: center; font-size: 1.2em;">
        </div>
        <div class="col-3 my-5 mx-3" style="background: none;">
            <input name="BuyoutPrice" type="text" class="form-control py-4" id="UploadProductBuyoutPrice"
                placeholder="Giá mua ngay" inputmode="numeric"
                style="border-radius: 20px; border:none; background: #f8f8f8; outline: none; text-align: center; font-size: 1.2em;">
        </div>
    </div>

    <h4 class=" mb-3">Ảnh sản phẩm</h4>

    <div class="row col-md-8 mx-auto justify-content-center mb-5 ">
        <div class="col mt-4 mx-3 align-center">
            <input name="Images" id="Images" type="file" class="filestyle form-control col " data-text="Chọn"
                data-btnClass="" multiple="multiple" accept="image/jpg" style="border-radius: 0px;">
        </div>
    </div>

    <h4 class="mt-5 mb-4">Mô tả sản phẩm</h4>


    <div class=" col-10 mx-auto mt-5 mb-4" style="border-radius: 20px;">
        <textarea name="Description" id="tiny"></textarea>
    </div>


    <div class="row col-4 text-center mx-auto justify-content-center my-5 " style="align-items: center;">
        <input name="Submit" type="submit" class="btn btn-danger" value="Đăng bài" style="border-radius:20px;">
    </div>

</form>