img {
  object-fit: cover;
  border-radius: 20px;
}
.card-title h6,
.card-title h5 {
  text-align: center;
  font-family: "Quicksand", "Roboto", sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 1em;
  font-weight: 800;
}

.row .col div,
.row .col-3,
.row .col-7,
.row .col-2 {
  font-family: "Quicksand", "Roboto", sans-serif;
  font-size: 0.9em;
  text-align: center;
}

.row .col-3,
.row .col-2,
.row .col-7 {
  border-radius: 20px;
  padding: 0.5em 0.5em;
}

.row .col-3,
.row .col-2 {
  background: #e9f4f3;
}

#bid-count-row {
  border-radius: 20px;
  background: #fcfcfc;
}
.user-score {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background: #e9f4f3;
  border-radius: 20px;
}
.deny {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1em;
  border-radius: 20px;
  background: #fff3f3;
}
body {
  font-family: "Quicksand", "Roboto", sans-serif;
}
#title {
  font-family: "Pattaya";
}
.dropdown-item:hover {
  background: none;
}
.dropdown-menu {
  padding-right: 1em;
  border-radius: 10px;
}
.dropdown-menu ul li:hover {
  background: #e9f4f3;
  border-radius: 10px;
}
.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  filter: invert(100%);
}

.detail-card {
  border-radius: 20px;
  background: #f8f8f8;
  border: none;
}
tr .td-button {
  visibility: hidden;
}
tr:hover .td-button {
  visibility: visible;
}
input {
  border-radius: 20px;
}
.error {
  color: #b83b23;
}

.g-recaptcha {
  margin: 15px auto !important;
  width: auto !important;
  height: auto !important;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: -o-center;
  text-align: -ms-center;
}
.avatar {
  border-radius: 50%;
}

.manage-tab-links {
  text-decoration: none;
  outline: none;
  color: #000000;
  padding-bottom: 0.5vh;
  border-bottom: 0px solid #b83b23;
  transition-duration: 0.1s;
}
.manage-menu a[href]:hover {
  text-decoration: none;
  color: #b83b23;
  border-radius: 0px;
  padding-bottom: 1vh;
  border-bottom: 1.5px solid #b83b23;
  transition-duration: 0.1s;
}

.manage-menu li .active {
  padding-bottom: 1vh;
  font-weight: 800;
  color: #b83b23;
  border-bottom: 1.5px solid #b83b23;
  transition-duration: 0.1s;
}

.like-button {
  background: #e6ffc7;
  border-radius: 20px;
  padding: 7px 0px 7px 0px;
}
.dislike-button {
  background: #fff3f3;
  border-radius: 20px;
  padding: 7px 0px 7px 0px;
}
.card-columns {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
}

.dropdown-menu input {
  text-decoration: none;
  color: black;
  border-radius: 10px;
  transition-duration: 0.2s;
}

.dropdown-menu input:hover {
  color: black;
  background: #e9f4f3;
  padding: 10px;
  border-radius: 10px;
  transition-duration: 0.2s;
}

.btn {
  border-radius: 20px;
}

#searchOption {
  outline: none;
  padding: 0px 10px;
  border-radius: 20px 0px 0px 20px;
}

input[type="search"] {
  border: 1px solid grey;
}

.page-link {
  color: #d9534f;
  border: none;
  transition-duration: 0.2s;
}
.page-link:hover {
  background: none;
  font-size: 1.4em;
  font-weight: 800;
  color: #d9534f;
  border: none;
  transition-duration: 0.2s;
}

.text-limit {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
}
